# shift +Enter : 실행
# 주석문
# Python Basic(1) _ Data type (자료형) - 숫자, 문자열, 참과 거짓, 여러개 데이터 다룰 수 있는 (배열, 집합)
# Python Basic(1) _ 조건문(Conditional Statement)
# Python Basic(1) _ 반복문(Loop)

In [3]:
1000 # 정수형 데이터

1000

In [4]:
1000.0 # 실수형 데이터

1000.0

In [5]:
# 사칙연산
10 + 20
10 - 20
10 * 20
10 / 20
10 ** 2

100

In [6]:
# 문자열

In [8]:
홍길동

NameError: name '홍길동' is not defined

In [9]:
'홍길동'

'홍길동'

In [10]:
"홍길동"

'홍길동'

In [11]:
"홍길동" + "님 반가워요~~"

'홍길동님 반가워요~~'

In [12]:
# name String type 변수에 '홍길동' 데이터를 담는다.
name = '홍길동'
name

'홍길동'

In [13]:
name +'님 반가워요~~'

'홍길동님 반가워요~~'

In [14]:
type(name)

str

In [1]:
name?

Object `name` not found.

In [20]:
# List
animals = ['강아지', '고양이', '원숭이', '물고기']
#  index=>    0          1        2         3
#  index=>    -4         -3      -2         -1
animals #  animals는 문자열에 대한 리스트 이다.

['강아지', '고양이', '원숭이', '물고기']

In [21]:
# list 특정 element 추출 : index
animals[0]

'강아지'

In [22]:
animals[-1] # animals 중에서 맨 마짐ㄱ에 들어온 element

'물고기'

In [24]:
animals[0:3]

# M:N => M ~N-1  index elements 를 슬라이싱한다.

['강아지', '고양이', '원숭이']

In [25]:
animals[1:]

['고양이', '원숭이', '물고기']

In [26]:
animals[:2]

['강아지', '고양이']

In [27]:
# List 자료형은 여러 Elements 들을 저장하고 있는 자료형으로 Element 는 자료형 상관 없이 담고, ) => 중복 허용, 순서 있다.

In [28]:
['dog', 'dog','dog','cat']

['dog', 'dog', 'dog', 'cat']

In [30]:
data =[
    ['dog1','dog2','dog3'],
    ['cat1','cat2','cat2']
]

In [31]:
data[0][2]

'dog3'

In [32]:
[123,
'홍길동',
 [1,2,3,4]]

[123, '홍길동', [1, 2, 3, 4]]

In [33]:
# set 
# 여러 elements들을 저장하고 있는 자료형으로 , 중복 허용 X, 순서 X

In [36]:
animals = ['dog', 'dog','dog','cat' ]  #list
animals

['dog', 'dog', 'dog', 'cat']

In [37]:
set(animals)

{'cat', 'dog'}

In [38]:
my_list = [
    'a','a','a','b','c','c','d','d','d','d'
]
my_list

['a', 'a', 'a', 'b', 'c', 'c', 'd', 'd', 'd', 'd']

In [39]:
# 중복이 없는 데이터만 뽑는 방법

In [40]:
list(set(my_list))

['d', 'a', 'b', 'c']

#### 정리 
####  1. 숫자, 2. 문자열, 3. List, 4. Set

In [41]:
animals = ['dog', 'cat','fish']
# 0 번째는 'dog'
# 1 번째는 'cat'
# 2 번째는 'fish'

In [42]:
# name 에는  '홍길동'
# age 에는 나이 20
# email 에는 멜주소 'hong@gmail.com'

In [44]:
student = {'name': '홍길동' , 'age':20, 'email': 'hong@gmail.com'}
student

{'name': '홍길동', 'age': 20, 'email': 'hong@gmail.com'}

In [45]:
student['name']

'홍길동'

In [46]:
student['email']

'hong@gmail.com'

In [47]:
student['address']

KeyError: 'address'

In [48]:
# 주소 추가하기
student['address'] = '주소'
student

{'name': '홍길동', 'age': 20, 'email': 'hong@gmail.com', 'address': '주소'}

In [49]:
# tuple 자료형은 
# list, dict, set 자료형은 한번 정의하고 데이터 수정이 가능(추가, 삭제 가능)하다.
# tuple은 함수에서 사용된다. 값을 변경할 수 없는 자료형이다.

In [50]:
height, width = (30, 40)

In [51]:
height

30

In [52]:
width

40

#### 정리 해보세요
#### list, set, dict, tuple

In [55]:
# 참과 거짓 자료 Bool

In [56]:
True

True

In [57]:
False

False

In [58]:
10> 5

True

In [59]:
2>3

False

#### 조건문(Conditional Statement)
- if, elif, else

In [61]:
# 10이 5보다 크다면 10이 5보다 크다

In [62]:
if 10>5:
    print('10이 5보다 크다')

10이 5보다 크다

In [69]:
number= 20

# number이 양수이면 '양수 입니다.' , 음수이면 '음수입니다.' ,  0이면 '0입니다.' 출력해보자

In [70]:
if number > 0 :
    print('양수 입니다.')
if number< 0 :
    print('음수 입니다.')
if number == 0:
    print('0 입니다.')

양수 입니다.

In [76]:
# 하나의 조건이 만족되면 나머지 조건은 만족되지 않는다.
# if ~ else

In [2]:
if False:
    print('참 입니다.')
else:
    print('거짓 입니다.')

거짓 입니다.

In [3]:
number = -20
if number > 0:
    print('양수 입니다.')
else:
    print('음수 혹은 0 입니다.')

음수 혹은 0 입니다.

In [82]:
# 양수, 음수, 0 모두 모두 비교해보자

In [4]:
number = 0
if number > 0:
    print('양수 입니다.')
else:
    if number <0:
        print('음수 입니다.')
    else:
        print('0 입니다.')

0 입니다.

In [83]:
# 들여쓰기 신경쓰자.

In [5]:
if False:
    print('a')
print('b')

b

In [87]:
if False:
    print('a')
    print('b')

In [6]:
number = 0

if number > 0:
    print('양수 입니다.')
elif number < 0:
    print('음수 입니다.')
else:
    print('0입니다.')

0입니다.

In [91]:
# [참일때의 값]if [조건문] else [거짓일때의 값]

In [7]:
"참이다" if 10 < 5 else " 거짓이다"

' 거짓이다'

In [93]:
# 양수, 음수, 0을 구하는 코드를 한줄로 작성해보자

In [100]:
number = -10
"양수" if number > 0 else ( "음수이다" if number < 0 else "0이다." )

'음수이다'

#### 반복문

In [106]:
# '안녕하세요' 열번 반복 출력
'''
print('안녕하세요')
print('안녕하세요')
print('안녕하세요')
.....
print('안녕하세요')
'''

"\nprint('안녕하세요')\nprint('안녕하세요')\nprint('안녕하세요')\n.....\nprint('안녕하세요')\n"

In [103]:
for i in range(10):
    print('안녕하세요.')

안녕하세요.
안녕하세요.
안녕하세요.
안녕하세요.
안녕하세요.
안녕하세요.
안녕하세요.
안녕하세요.
안녕하세요.
안녕하세요.

In [107]:
# list 와 dict Loop

In [108]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [109]:
animals = ['dog', 'cat', 'fish']
# dog를 키우고 있습니다.

In [110]:
for animal in animals:
    print(animal + '을/를 키우고 있습니다.')

dog을/를 키우고 있습니다.
cat을/를 키우고 있습니다.
fish을/를 키우고 있습니다.

In [123]:
student ={
    'name': 'hong',
    'age': 20,
    'email': 'hong@gmail.com'
}

In [124]:
# name => hong
# age => 20
# email => hong@gmail.com

In [125]:
list(student)

['name', 'age', 'email']

In [129]:

for key in student:
    value = student[key]
    print(key + '=>' +str(student[key]))

name=>hong
age=>20
email=>hong@gmail.com

In [130]:
for data in student.items():   #  Dict.items()
    print(data)

('name', 'hong')
('age', 20)
('email', 'hong@gmail.com')

In [132]:
for key, value in student.items():   
    print(key + '=>' + str(value))

name=>hong
age=>20
email=>hong@gmail.com

### Function (함수)
- Input .....(처리) ....Output
- 함수 정의
- 함수 호출
- return

In [134]:
def greeting():       # 함수 정의
    print('안녕하세요')

In [135]:
greeting()  # 함수 호출

안녕하세요

In [137]:
greeting()

안녕하세요

In [144]:
# '홍길동' => 홍길동님 안녕하세요.

In [145]:
def greeting(name):
    print(name + '님 안녕하세요.')

In [146]:
greeting('홍길동')

홍길동님 안녕하세요.

In [147]:
greeting?   # 함수에 대한 설명 하기

In [8]:
def greeting(name):
    '''
    name 매개변수에 이름을 입력 받아, ______님 안녕하세요. 라고 출력하는 함수
    '''
    print(name + '님 안녕하세요.')

In [9]:
greeting?

In [150]:
# 숫자 입력 받아 양수, 음수, 0인지를 출력해 주눈 함수  선언(input 변수는 => number)

In [11]:
def number_check(number):
    if number > 0:
        print('양수 입니다.')
    else:
        if number <0:
            print('음수 입니다.')
        else:
            print('0 입니다.')

In [12]:
number_check(10)

양수 입니다.

In [13]:
def number_check(number):
    if number > 0:
        return '양수 입니다.'
    else:
        if number <0:
            return '음수 입니다.'
        else:
            return '0 입니다.'

In [14]:
number_check(-0)

'0 입니다.'

In [15]:
result = number_check(-10)
result

'음수 입니다.'

In [166]:
# 1. double => 2배 함수
# 2. triple => 3배 함수

In [171]:
def double(number):
    return number * 2

In [172]:
def triple(number):
    return number *3

In [173]:
double(triple(10))

60

In [179]:
def number_check(number):
    result = '양수' if number > 0 else ( '음수' if number < 0 else 'zero')
    return result

In [180]:
number_check(10)

'양수'

### String 관련 함수 
- split, join, replace, starstwith, endswith, ...
- CSV (Comma Seperated Values) =>  "홍길동, 20, hong@gmail.com, 대전시 서구 용문동" 
- data = "홍길동, 20, hong@gmail.com, 대전시 서구 용문동"  = > data.split(",")
- my_infos = ['홍길동', '20', 'hong@gmail.com', '대전시 서구 용문동'] => ",".join(my_infos)
- split <=> join

In [188]:
data = "홍길동, 20, hong@gmail.com, 대전시 서구 용문동"

In [189]:
data.split(",")

['홍길동', ' 20', ' hong@gmail.com', ' 대전시 서구 용문동']

In [16]:
my_infos = ['홍길동', '20', 'hong@gmail.com', '대전시 서구 용문동']

In [19]:
"|".join(my_infos)

'홍길동|20|hong@gmail.com|대전시 서구 용문동'

In [ ]:
# "," 를 "|" 대체   => replace

In [193]:
data.replace(",", "|")

'홍길동| 20| hong@gmail.com| 대전시 서구 용문동'

In [194]:
"홍길동" in data

True

In [196]:
data.startswith("홍")

True

In [197]:
data.endswith("동")

True

### List 함수
- 추가  => append()

In [198]:
animals = []

In [199]:
animals.append("dog")

In [200]:
animals

['dog']

In [201]:
animals.append("cat")

In [202]:
animals

['dog', 'cat']

### Dict.get

In [203]:
student = {"name":"hong", "email":"hong@gmail.com"}

In [204]:
# student["address"]
# 학생 주소를 출력하려고 한다. 이때 주소 정보가 있으면 출력하고 없으면 "출력 없음" 이라 출력하자

In [205]:
student['address']

KeyError: 'address'

In [206]:
student.get('address','주소 없음') # 값이 있으면 출력하고, 없으면 "주소 없슴" 출력하려면

'주소 없음'

### 파이썬으로 파일 읽고 / 쓰기
- New > Text File > first.txt
 '''
 hello world
 python programming
 한글을 읽어 봅시다.
 '''

In [20]:
fp = open("first.txt", "r", encoding="euc-kr")

In [21]:
data = fp.read()
data
fp.close()

In [22]:
data.split("\n")

['hello world', 'python programming', '한글을 읽어보자']

In [224]:
"".join(data)

'hello world\npython programming\n한글을 읽어보자'

In [227]:
fp = open("second.txt", "w")
fp.write("hello world\n두번째 파일")
fp.close()

#### 이번 시간 배운 내용 정리
- Data Type - String, Number, List, Set, Dict, Tuple, Boolean
- Conditional Statement(조건문) - if, elif, else
- Loop( 반복문 ) - for (range, list, dict(dict.items())
- Function(함수) - def, return

- String - split, join, replace, startswith, endswith, ..
- List - append
- File I/O - open, read, write

### 다음 시간 배울 내용 : 간결 문장으로 표현하기
- Lambda ( 익명 함수 )
- Lambda Operator - map, filter, reduce, ....
- List Comprehension 
    - numbers = [1,2,3,4,5]
        - [number**2 for number in numbers]
        
        
 - 함수 실습
 - Class, ...