In [40]:
with open("animal.csv", "r") as fp:
    result = []
    data = fp.read()
    rows = data.split("\n")
#     print(len(rows))
    
    for  row in rows:
        animal = {
            "Korean Name": row.split(",")[0] ,
            "English Name" : row.split(",")[1],
            "size": row.split(",")[2]
        }
        result.append(animal)
        
print(result)

[{'Korean Name': 'Korean Name', 'English Name': ' English Name', 'size': ' size'}, {'Korean Name': '강아지', 'English Name': ' dog', 'size': '중형'}, {'Korean Name': '고양이', 'English Name': ' cat', 'size': '소형'}, {'Korean Name': '물고기', 'English Name': ' fish', 'size': '초소형'}, {'Korean Name': '원숭이', 'English Name': ' monkey', 'size': '대형'}]

In [27]:
with open("animal.csv", "r") as fp:
    rows = fp.read().split("\n")

In [28]:
rows

['Korean Name, English Name, size',
 '강아지, dog, 중형',
 '고양이, cat, 소형',
 '물고기, fish, 초소형',
 '원숭이, monkey, 대형']

In [29]:
rows[0]

'Korean Name, English Name, size'

In [30]:
rows[1:]

['강아지, dog, 중형', '고양이, cat, 소형', '물고기, fish, 초소형', '원숭이, monkey, 대형']

In [53]:
with open("animal.csv","r") as fp:
    result = []
    data = fp.read()
    rows = data.split("\n")
    # 1. 컬럼을 빼낸다
    columns = rows[0].split(",")
#     print(columns)
    # 2. 데이터만 빼낸다
    for row in rows[1:]:
        row_data = row.split(",")
#         print(row_data)
        row_dict = {}
    
#         column을 for문 돌리면서 컬럼에 해당하는 데이터를 추가한다
        for column_index in range(len(columns)):
            column = columns[column_index]
#             print(column_index)
            row_dict[column] = row_data[column_index]
#             print(column)
        result.append(row_dict)
    print(result)

[{'Korean Name': '강아지', ' English Name': ' dog', ' size': '중형'}, {'Korean Name': '고양이', ' English Name': ' cat', ' size': '소형'}, {'Korean Name': '물고기', ' English Name': ' fish', ' size': '초소형'}, {'Korean Name': '원숭이', ' English Name': ' monkey', ' size': '대형'}]

In [34]:
def read_csv(filepath):
    with open(filepath,"r") as fp:
        result = []
        data = fp.read()
        rows = data.split("\n")
        
        columns = rows[0].split(",")
        
        for row in rows[1:]:
            row_data = row.split(",")
#         print(row_data)
            row_dict = {}
    
#         column을 for문 돌리면서 컬럼에 해당하는 데이터를 추가한다
            for column_index in range(len(columns)):
                column = columns[column_index]
#             print(column_index)
                row_dict[column] = row_data[column_index]
#             print(column)
            result.append(row_dict)
        return result

In [58]:
read_csv("animal.csv")

[{'Korean Name': '강아지', ' English Name': ' dog', ' size': '중형'},
 {'Korean Name': '고양이', ' English Name': ' cat', ' size': '소형'},
 {'Korean Name': '물고기', ' English Name': ' fish', ' size': '초소형'},
 {'Korean Name': '원숭이', ' English Name': ' monkey', ' size': '대형'}]

In [59]:
def read_csv(filepath, separator = ","):
    with open(filepath,"r") as fp:
        result = []
        data = fp.read()
        rows = data.split("\n")
        
        columns = rows[0].split(separator)
        
        for row in rows[1:]:
            row_data = row.split(separator)
#         print(row_data)
            row_dict = {}
    
#         column을 for문 돌리면서 컬럼에 해당하는 데이터를 추가한다
            for column_index in range(len(columns)):
                column = columns[column_index]
#             print(column_index)
                row_dict[column] = row_data[column_index]
#             print(column)
            result.append(row_dict)
        return result

In [60]:
read_csv("animal.csv")

[{'Korean Name': '강아지', ' English Name': ' dog', ' size': '중형'},
 {'Korean Name': '고양이', ' English Name': ' cat', ' size': '소형'},
 {'Korean Name': '물고기', ' English Name': ' fish', ' size': '초소형'},
 {'Korean Name': '원숭이', ' English Name': ' monkey', ' size': '대형'}]

In [57]:
def read_csv(filepath, separator=","): ##

    with open(filepath, "r") as fp:  # 1. 파라메터 filepath

        result = []  

        data = fp.read()

        rows = data.split("\n")

 

 

        columns = rows[0].split(separator)  ##

 

        for row in rows[1:]:

            row_data = row.split(separator)   ##

 

            row_dict = {}

 

    #         column을 for문 돌리면서 컬럼에 해당 데이터를 추가한다. # {'Korean Name'}: "강아지"

 

            for column_index in range(len(columns)):  #컬럼갯수만큼 반복한다.

                column = columns[column_index]   # 0

                row_dict[column]= row_data[column_index]

 

            result.append(row_dict)

        return result   # 2. return

In [58]:
read_csv("fruit.csv")

[{'Name|Size': '딸기|소형'}, {'Name|Size': '멜론|중형'}, {'Name|Size': '수박|대형'}]

In [5]:
fp = open("new.txt", "w")
fp.write('hello world python')
fp.close()

In [8]:
with open("./animal.csv") as fp:
    data = fp.read()
data

'Korean Name, English Name, size\n강아지, dog,중형\n고양이, cat,소형\n물고기, fish,초소형\n원숭이, monkey,대형'

In [9]:
data.split('\n')

['Korean Name, English Name, size',
 '강아지, dog,중형',
 '고양이, cat,소형',
 '물고기, fish,초소형',
 '원숭이, monkey,대형']

In [13]:
with open("./animal.csv") as fp:
    data = fp.read()
    rows = data.split("\n")

rows

['Korean Name, English Name, size',
 '강아지, dog,중형',
 '고양이, cat,소형',
 '물고기, fish,초소형',
 '원숭이, monkey,대형']

In [16]:
row = rows[1]
row

'강아지, dog,중형'

In [17]:
row.split(",")

['강아지', ' dog', '중형']

In [18]:
{ 
    "korean name":row.split(",")[0],
    "english name":row.split(",")[1],
    "size":row.split(",")[2],
}

{'korean name': '강아지', 'english name': ' dog', 'size': '중형'}

In [23]:
with open("animal.csv", "r") as fp:
    result = []
    data = fp.read()
    rows = data.split("\n")
# rows
    
    for  row in rows:
        animal = {
            "Korean Name": row.split(",")[0] ,
            "English Name" : row.split(",")[1],
            "size": row.split(",")[2]
        }
        result.append(animal)
        
result

[{'Korean Name': 'Korean Name',
  'English Name': ' English Name',
  'size': ' size'},
 {'Korean Name': '강아지', 'English Name': ' dog', 'size': '중형'},
 {'Korean Name': '고양이', 'English Name': ' cat', 'size': '소형'},
 {'Korean Name': '물고기', 'English Name': ' fish', 'size': '초소형'},
 {'Korean Name': '원숭이', 'English Name': ' monkey', 'size': '대형'}]

In [24]:
rows

['Korean Name, English Name, size',
 '강아지, dog,중형',
 '고양이, cat,소형',
 '물고기, fish,초소형',
 '원숭이, monkey,대형']

In [25]:
def double(x):
    return 2 * x
double(100)

200

In [26]:
lambda x:2 * x

In [27]:
(lambda x: 2*x) (100)

200

In [29]:
my_list = [1,2,3,4,5]
result = []

for element in my_list:
    result.append(double(element))
result

[2, 4, 6, 8, 10]

In [30]:
list(map(double, [1,2,3,4,5]))

[2, 4, 6, 8, 10]

In [31]:
list(map(
    lambda x: x*2, [1,2,3,4,5]
))

[2, 4, 6, 8, 10]

In [59]:
read_lsv = lambda filepath: read_csv(filepath,"|")
read_lsv

In [60]:
read_lsv("./fruit.csv")

[{'Name': '딸기', 'Size': '소형'},
 {'Name': '멜론', 'Size': '중형'},
 {'Name': '수박', 'Size': '대형'}]

In [61]:
list(map(
    lambda x: x*2,
    range(10
         )))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [62]:
list(filter(
    lambda x: x>100,
    [1,10,100,200,300,12345]
         ))

[200, 300, 12345]

In [68]:
result = []
for i in range(1,11):
    element = i**2
    if element >= 50:
        result.append(element)
result

[64, 81, 100]

In [69]:
list(map(lambda x: x**2, range(1,11)))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [70]:
list(filter(
    lambda x: x>=50,
    list(map(lambda x: x**2, range(1,11)))))

[64, 81, 100]

In [72]:
def get_sum(my_list):
    result = 0
    for element in my_list:
        result = result +element
    return result

In [73]:
get_sum([1,2,3,4,5])

15

In [75]:
from functools import reduce

In [76]:
reduce(
    lambda a,b: a+b,
    [1,2,3,4,5]
)

15

In [88]:
def get_max(elements):
    max = elements[0]
    
    for element in elements:
        if element >= max:
            max = element
    return max

In [89]:
get_max([1,2,100,3,4,5,105,100,6])

105

In [91]:
reduce(
    lambda a,b: a if a>b else b,
    [1,2,100,3,4,5,105,100,6]
)

105

In [94]:
get_max = lambda elements: reduce(
    lambda a,b: a if a>b else b,
    elements,
)

In [97]:
get_max([1,2,100,3,4,5,105,100,6])

105

In [98]:
list(map(
    lambda x: x**2,
    range(1,6,
         )))

[1, 4, 9, 16, 25]

In [100]:
[ i**2 for i in range(1,6)]

[1, 4, 9, 16, 25]

In [101]:
[
    i
    for i
    in [100,1,2,3,104,2000]
    if i>=100
]

[100, 104, 2000]

In [102]:
[
    i**2
    for i
    in range(1,11)
    if i**2>=50
]

[64, 81, 100]

In [103]:
[
    open("./fruits1.csv", "r").read().split("\n")
]

[['사과,Apple,중형', '딸기,Strawberry,소형', '수박,WaterMelon,대형']]

In [104]:
[
    {
            "Korean Name": row.split(",")[0] ,
            "English Name" : row.split(",")[1],
            "size": row.split(",")[2]
    }
    for row
    in open("./fruits1.csv", "r").read().split("\n")
]

[{'Korean Name': '사과', 'English Name': 'Apple', 'size': '중형'},
 {'Korean Name': '딸기', 'English Name': 'Strawberry', 'size': '소형'},
 {'Korean Name': '수박', 'English Name': 'WaterMelon', 'size': '대형'}]

In [149]:
# Q3.1 lambda로 소수구하기 
# 2,3,5,7,11,13,17,19,23
# map(lambda x:x%2==1), range(1,101)

SyntaxError: invalid syntax (<ipython-input-149-4756c42847dd>, line 5)

In [ ]:
#Q3.2 리스트내포로 소수구하기