In [19]:
[
#     "twothree" if (i+1)%6 ==0 else "" +
    ("two" if (i+1)%2 ==0 else "")+
    ("three" if (i+1)%3==0 else "")
    for i
    in range(10)
]

['', 'two', 'three', 'two', '', 'twothree', '', 'two', 'three', 'two']

In [20]:
def get_sum(a,b,c):
    return a+b+c
get_sum(10,10,10)

30

In [21]:
def get_sum(*args):
    print(args)
    result =0
    for arg in args:
        result += arg
    return result
get_sum(1,2,3,4,5,6,7)

(1, 2, 3, 4, 5, 6, 7)

28

In [22]:
data = (1,2,3,4,5)
get_sum(*data)

(1, 2, 3, 4, 5)

15

In [23]:
def hello(**kwargs):
    print(kwargs)

In [24]:
hello(name="hong",email="hong@gmail.com")

{'name': 'hong', 'email': 'hong@gmail.com'}

In [27]:
student= {"name":"hong","email":"hong@gmail.com"}

In [29]:
hello(**student)

{'name': 'hong', 'email': 'hong@gmail.com'}

In [30]:
hello(**{"name":"hong","email":"hong@gmail.com"})

{'name': 'hong', 'email': 'hong@gmail.com'}

In [31]:
def hello(*args, **kwargs):
    print(args)
    print(kwargs)

In [32]:
hello(1,2,3,name="hong")

(1, 2, 3)
{'name': 'hong'}

In [33]:
def info(name,email,*args,**kwargs):
    print("안녕하세요 " + name + "입니다")
    print("이메일은 "+ email)
    print("----------------------------")
    print(kwargs)
    print("----------------------------")

In [39]:
info("양희원","yhw5129@naver.com",나이=26,핸드폰번호="01099595129")

안녕하세요양희원입니다
이메일은yhw5129@naver.com
----------------------------
{'나이': 26, '핸드폰번호': '01099595129'}
----------------------------

In [6]:
class Person():
    name = "홍길동"
    age = 20
    
    def introduce(self):
        print("안녕하세요, 저는 {age}살 {name} 입니다.".format(age=self.age, name=self.name))

hong = Person()
hong.introduce()

안녕하세요, 저는 20살 홍길동 입니다.

In [10]:
hong = Person()
hong

In [21]:
class Person():
    def __init__(self,name,age,*args, **kwargs):
        self.name =name
        self.age = age
    
    def introduce(self):
        print("안녕하세요, 저는 {age}살 {name} 입니다.".format(age=self.age, name=self.name))
    
    def meet(self,another):
        print("{myname}이 {yourname}을 만났습니다.".format(
        myname = self.name,
        yourname = another.name))

In [240]:
class Person():
    def __init__(self,name,age,money):
        self.name =name
        self.age = age
        self.money = money
    
    def __str__(self):
        return ("이름은 {}입니다.".format(self.name))
    
    def __repr__(self):
        return self.name

    def __add__(self,partner):
        print("{} & {} | 결혼을 축하합니다.".format(
        self.name,
        partner.name))
    
    def introduce(self):
        print("안녕하세요, 저는 {}살 {} 입니다.".format(self.age, self.name))
    
    def meet(self,another):
        print("{}이 {}을 만났습니다.".format(
        self.name,
        another.name))
    
    def give(self, partner,amount):
        self.money -= amount
        partner.money += amount
        
    def merried(self, another):
        print("{}과 {}의 결혼을 축하합니다.".format(
        self.name,
        another.name))

In [241]:
lee = Person("이도령", 30,1000)

In [245]:
hong = Person("홍길동",20,10000)

In [248]:
hong.introduce()

안녕하세요, 저는 20살 홍길동 입니다.

In [249]:
hong.meet(lee)

홍길동이 이도령을 만났습니다.

In [250]:
hong.merried(lee)

홍길동과 이도령의 결혼을 축하합니다.

In [251]:
hong + lee

홍길동 & 이도령 | 결혼을 축하합니다.

In [252]:
hong.give(lee,2000)

In [253]:
hong.money

8000

In [254]:
lee.money

3000

In [257]:
data = [
    {"name":"사람0" , "age":20, "money":1000},
    {"name":"사람1" , "age":30, "money":2000},
    {"name":"사람2" , "age":40, "money":3000},
    {"name":"사람4" , "age":50, "money":9000},
]

In [258]:
data

[{'name': '사람0', 'age': 20, 'money': 1000},
 {'name': '사람1', 'age': 30, 'money': 2000},
 {'name': '사람2', 'age': 40, 'money': 3000},
 {'name': '사람4', 'age': 50, 'money': 9000}]

In [259]:
people = [
Person(person['name'],person['age'],person['money'])
for person in data
]

In [260]:
people[2].introduce()

안녕하세요, 저는 40살 사람2 입니다.

In [261]:
del people[0]

In [262]:
print(people[:])

[사람1, 사람2, 사람4]

In [270]:
class Character():
    def __init__(self,name,power,damage,item):
        self.name =name
        self.power = power
        self.damage = damage
        self.item = item
    def __repr__(self):
        return self.name
    
    heros = []
    heros.append(Character('아이언맨',300,100,{'weapon':'레이저','gold':1000}))
    heros.append(Character('울버린',200,90,{'weapon':'갈퀴','gold':10}))
    heros.append(Character('데드풀',100,50,{'weapon':'검','gold':20}))
    
    monsters = []
    monsters.append(Character('드래곤',500,100,{'weapon':'불','gold':1000}))
    monsters.append(Character('뱀파이어',400,100,{'weapon':'이빨','gold':90}))
    monsters.append(Character('고블린',100,100,{'weapon':'창','gold':10}))
    del heros[1]
    print(heros)
    print(monsters)

[아이언맨, 데드풀]
[드래곤, 뱀파이어, 고블린]

In [272]:
import pandas as pd

In [287]:
df = pd.read_csv("animal.csv", encoding='euc-kr')

In [275]:
class Animal():
    def eat(self):
        print("먹는다!!!!")
    def attack(self):
        print("공격!!!!")

In [276]:
class Dog(Animal):
    def bark(self):
        print("왈왈")

In [283]:
class Bird(Animal):
    def fly(self):
        print("날다")
    def eat(self):
        print("부리로 먹이를 쪼아 먹는다.")

In [285]:
dog = Dog()
dog.bark()

왈왈

In [284]:
bird = Bird()
bird.eat()

부리로 먹이를 쪼아 먹는다.

### OOP 객체지향 언어 4가지 특징
#### 추상화(Abstraction)
- 공통의 속성이나 기능을 묶어이름을 붙이는 것 => 클래스 정의하는 것을 추상화

#### 캡슐화(Encapsulation)
- 변수와 함수를 하나로 묶어 외부에서 접근을 막고, 함수를 통해서만 접근하도록 한다.(은닉화)
- https://wikidocs.net/84421

#### 상속(Inheritance)
- 상위 개념의 특징을 하위 개념이 물려 받는 것 => 재사용성

#### 다형성(Polymorphism)
- 부모 클래스로부터 물려받은 함수를 자식 클래스에서 오버라이딩하여 사용하는것.

##### [마크다운 활용법] (http://datanetworkanalysis.github.io/2019/10/12/markdown)

In [288]:
import pandas as pd
df = pd.read_csv("animal.csv", encoding='euc-kr')
df

  Korean Name  English Name  size
0         강아지           dog    중형
1         고양이           cat    소형
2         물고기          fish   초소형
3         원숭이        monkey    대형

In [289]:
print(df)

  Korean Name  English Name  size
0         강아지           dog    중형
1         고양이           cat    소형
2         물고기          fish   초소형
3         원숭이        monkey    대형