In [19]:
[
#     "twothree" if (i+1)%6 ==0 else "" +
    ("two" if (i+1)%2 ==0 else "")+
    ("three" if (i+1)%3==0 else "")
    for i
    in range(10)
]

['', 'two', 'three', 'two', '', 'twothree', '', 'two', 'three', 'two']

In [20]:
def get_sum(a,b,c):
    return a+b+c
get_sum(10,10,10)

30

In [21]:
def get_sum(*args):
    print(args)
    result =0
    for arg in args:
        result += arg
    return result
get_sum(1,2,3,4,5,6,7)

(1, 2, 3, 4, 5, 6, 7)

28

In [22]:
data = (1,2,3,4,5)
get_sum(*data)

(1, 2, 3, 4, 5)

15

In [23]:
def hello(**kwargs):
    print(kwargs)

In [24]:
hello(name="hong",email="hong@gmail.com")

{'name': 'hong', 'email': 'hong@gmail.com'}

In [27]:
student= {"name":"hong","email":"hong@gmail.com"}

In [29]:
hello(**student)

{'name': 'hong', 'email': 'hong@gmail.com'}

In [30]:
hello(**{"name":"hong","email":"hong@gmail.com"})

{'name': 'hong', 'email': 'hong@gmail.com'}

In [31]:
def hello(*args, **kwargs):
    print(args)
    print(kwargs)

In [32]:
hello(1,2,3,name="hong")

(1, 2, 3)
{'name': 'hong'}

In [33]:
def info(name,email,*args,**kwargs):
    print("안녕하세요 " + name + "입니다")
    print("이메일은 "+ email)
    print("----------------------------")
    print(kwargs)
    print("----------------------------")

In [39]:
info("양희원","yhw5129@naver.com",나이=26,핸드폰번호="01099595129")

안녕하세요양희원입니다
이메일은yhw5129@naver.com
----------------------------
{'나이': 26, '핸드폰번호': '01099595129'}
----------------------------

In [6]:
class Person():
    name = "홍길동"
    age = 20
    
    def introduce(self):
        print("안녕하세요, 저는 {age}살 {name} 입니다.".format(age=self.age, name=self.name))

hong = Person()
hong.introduce()

안녕하세요, 저는 20살 홍길동 입니다.

In [10]:
hong = Person()
hong

In [21]:
class Person():
    def __init__(self,name,age,*args, **kwargs):
        self.name =name
        self.age = age
    
    def introduce(self):
        print("안녕하세요, 저는 {age}살 {name} 입니다.".format(age=self.age, name=self.name))
    
    def meet(self,another):
        print("{myname}이 {yourname}을 만났습니다.".format(
        myname = self.name,
        yourname = another.name))

In [147]:
class Person():
    def __init__(self,name,age,money):
        self.name =name
        self.age = age
        self.money = money
    
    def __str__(self):
        return ("이름은 {}입니다.".format(self.name))
    
    def __add__(self,partner):
        print("{} & {} | 결혼을 축하합니다.".format(
        self.name,
        partner.name))
    
    def introduce(self):
        print("안녕하세요, 저는 {}살 {} 입니다.".format(self.age, self.name))
    
    def meet(self,another):
        print("{}이 {}을 만났습니다.".format(
        self.name,
        another.name))
    
    def give(self, partner,amount):
        self.money -= amount
        partner.money += amount
        
    def merried(self, another):
        print("{}과 {}의 결혼을 축하합니다.".format(
        self.name,
        another.name))

In [148]:
lee = Person("이도령", 30,1000)

In [149]:
hong = Person("홍길동",20,10000)

In [150]:
hong.introduce()

안녕하세요, 저는 20살 홍길동 입니다.

In [151]:
hong.meet(lee)

홍길동이 이도령을 만났습니다.

In [152]:
hong.merried(lee)

홍길동과 이도령의 결혼을 축하합니다.

In [153]:
hong + lee

홍길동 & 이도령 | 결혼을 축하합니다.

In [154]:
hong.give(lee,2000)

In [155]:
hong.money

8000

In [156]:
lee.money

3000

In [145]:
data = [
    {"name":"사람0","age":20,"money":1000},
    {"name":"사람1","age":30,"money":2000},
    {"name":"사람2","age":40,"money":3000},
    {"name":"사람3","age":50,"money":9000}
]